@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

.root-container {
    height: 100vh;
    width: 100vw;
    max-width: 1440px;
}

/* Header area */
.head-col {
    padding: 0px;
}

.navbar {
    background-color: #8f8f8f;
}

.navbar-toggler {
    border-color: #198754;
    outline-color: #198754;
}

.navbar-toggler:hover {
    background-color: #198754;
    color: white;
}

.search-bar{
     
}

.search-form {
    border-color: #198754;
}

.profile-button {
    margin: 6px;
}

/* Mailbox area */
.left-col {
    background-color: #ffffff;
    padding: 0px;
}

.list-group-item {
    background-color: #ffffff;
}

/* Email notifications area */
.center-col {
    background-color: rgb(226, 223, 223);
}

.notification-card {
    background-color: inherit;
}

.notification-card:hover {
    background-color: white;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
}

.notification-content {
    font-size: 0.95rem;
}

.notification-date {
    float: right;
    font-size: 1rem;
    font-weight: bold;
}

.notification-title {
    margin-bottom: 0.3rem;
    font-size: 1rem;
    font-weight: bold;
}